{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Master</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static '/styles.css' %}">
    <script src="https://kit.fontawesome.com/409d0d715c.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">

    <!-- Include Swiper's JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

</head>

<body>

    <!-- Social Media Icon Bar -->
    <div class="social-media-bar">
        <a href="https://in.linkedin.com/company/property-master-official" target="_blank"><img
                src="{% static 'images/linkedin.svg' %}" alt="linkedin"></a>

        <a href="https://www.facebook.com/PropertyMasterIndore/" target="_blank"><img
                src="{% static 'images/facebook.svg' %}" alt="facebook"></a>

        <a href="https://www.instagram.com/property_master_indore_/" target="_blank"><img
                src="{% static 'images/instagram.svg' %}" alt="instagram"></a>

        <a href="https://x.com/propertymaste19?lang=en" target="_blank"><img src="{% static 'images/twitter.svg' %}"
                alt="Twitter"></a>
    </div>

    <nav class="py-1 px-5 flex justify-between items-center shadow-md bg-white-800 w-full">
        <div class="container flex flex-wrap justify-between items-center mx-auto">
            <a href="{% url 'index' %}" class="flex items-center">
                <!-- Logo Image Placeholder -->
                <img src="{% static 'images/logo.webp' %}" class="mr-3 h-8 sm:h-16" alt="Logo">
            </a>

            <!-- Primary Navigation Menu -->
            <div class="hidden justify-between items-center w-full md:flex md:w-auto md:order-1" id="mobile-menu-2">
                <div class="relative group mr-8">
                    <button class="text-black py-2 px-4 rounded inline-flex items-center">
                        <a href="{% url 'our-team' %}">Our Team</a>
                        <!-- SVG icon omitted for brevity -->
                    </button>
                    <!-- Submenu Dropdown Grid -->
                </div>
                <div class="relative group mr-8">
                    <button class="text-black py-2 px-4 rounded inline-flex items-center">
                        <span class="mr-1">Legal</span>
                        <!-- SVG icon omitted for brevity -->
                        <svg class="fill-current h-4 w-4 transform group-hover:-rotate-180
                        transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M5.95 7.05a.5.5 0 01.7 0L10 10.3l3.35-3.25a.5.5 0 11.7.7l-4 4a.5.5 0 01-.7 0l-4-4a.5.5 0 010-.7z" />
                        </svg>
                    </button>
                    <!-- Submenu Dropdown Grid -->
                    <div
                        class="absolute hidden group-hover:grid grid-flow-row-dense grid-cols-2 bg-white shadow-lg rounded w-56">
                        <a href="{% url 'rera-registration' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Rera
                            Registration- Certificate</a>

                        <a href="{% url 'gst' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">GST-
                            Property Master</a>


                        <a href="{% url 'incoroporation-c' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Incorporation
                            Certificate</a>


                        <a href="{% url 'pan' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">PAN</a>
                    </div>
                </div>
                <div class="relative group mr-8">
                    <button class="text-black py-2 px-4 rounded inline-flex items-center">
                        <span class="mr-1">Gallery</span>
                        <!-- SVG icon omitted for brevity -->
                        <svg class="fill-current h-4 w-4 transform group-hover:-rotate-180
                        transition duration-150 ease-in-out" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M5.95 7.05a.5.5 0 01.7 0L10 10.3l3.35-3.25a.5.5 0 11.7.7l-4 4a.5.5 0 01-.7 0l-4-4a.5.5 0 010-.7z" />
                        </svg>
                    </button>
                    <!-- Submenu Dropdown Grid -->
                    <div
                        class="absolute hidden group-hover:grid grid-flow-row-dense grid-cols-2 bg-white shadow-lg rounded w-56">
                        <a href="{% url 'project-gallery' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Project
                            Gallery</a>


                        <a href="{% url 'team-gallery' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Team
                            gallery</a>


                        <a href="{% url 'video' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Video</a>


                        <a href="{% url 'press&news' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Press &
                            News</a>
                    </div>
                </div>

                <style>
                    i {
                        transition: transform 0.5s ease;
                    }

                    .ulis .lis .nested {
                        text-decoration: none;
                        list-style-type: none;
                        color: red;
                    }

                    .home,
                    .html,
                    .angular,
                    .js,
                    .about-us,
                    .contact {
                        padding: 1rem 0;
                    }

                    .navbar-links,
                    .navbar-search {
                        display: flex;
                        gap: 2rem;
                    }

                    .html,
                    .js,
                    .html-js-link {
                        position: relative;
                    }

                    .html:hover .html-chevron,
                    .js:hover .js-chevron {
                        transform: rotate(-180deg);
                    }

                    .html-js-link:hover i {
                        transform: rotate(-90deg);
                    }

                    .html-sub-menu,
                    .js-sub-menu,
                    .html-js-sub-menu {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        top: 3.45rem;
                        left: -5%;
                        background-color: white;
                        width: 110%;
                    }

                    .html-sub-menu li,
                    .js-sub-menu li,
                    .html-js-sub-menu li {
                        padding: 0.75rem;
                    }

                    .html:hover .html-sub-menu,
                    .js:hover .js-sub-menu {
                        display: flex;
                    }

                    .html-sub-menu:hover .html-sub-menu {
                        display: flex;
                    }

                    .html-js-sub-menu {
                        top: 5rem;
                        left: 9rem;
                    }

                    .html-sub-menu li:nth-child(3):hover .html-js-sub-menu {
                        display: flex;
                    }

                    .html-sub-menu:hover i {
                        transform: rotate(-90deg);
                    }
                </style>

                <li class="html" class="lis">
                    <a href="#" class="html-link nested">
                        Our Project
                        <i class="fa-solid  
                                  fa-chevron-down html-chevron">
                        </i>
                    </a>
                    <ul class="html-sub-menu" class="ulis">
                        <li class="lis">
                            <a href="#" class="html-js-link nested">
                                Residential
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="html-js-sub-menu" class="ulis">
                                <li class="lis"><a href="#">Angular</a></li>
                                <li class="lis"><a href="#">Nextjs</a></li>
                                <li class="lis"><a href="#">jQuery</a></li>
                                <li class="lis"><a href="#">Express.js</a></li>
                            </ul>
                        </li>
                        <li class="lis">
                            <a href="#" class="html-js-link nested">
                                Commercial
                                <i class="fa-solid fa-chevron-down"></i>
                            </a>
                            <ul class="html-js-sub-menu" class="ulis">
                                <li class="lis"><a href="#">Angular</a></li>
                                <li class="lis"><a href="#">Nextjs</a></li>
                                <li class="lis"><a href="#">jQuery</a></li>
                                <li class="lis"><a href="#">Express.js</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>






                <div class="relative group">
                    <button class="text-black py-2 px-4 rounded inline-flex items-center">
                        <a class="mr-1" href="{% url 'career' %}">Career</a>
                        <!-- SVG icon omitted for brevity -->
                    </button>
                    <!-- Submenu Dropdown Grid -->
                </div>

                <ul class="flex flex-col ml-8 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
                    <!-- Dropdown Selector Placeholder -->
                    <li>
                        <a href="{% url 'post_property' %}" type="button"
                            class="text-orange-500 bg-transparent border border-orange-500 hover:bg-orange-500 hover:text-white focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center mr-3 md:mr-0">
                            Post Property <span
                                class="bg-orange-100 text-orange-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-orange-200 dark:text-orange-900 ml-3">FREE</span></a>
                    </li>
                </ul>
            </div>



            <div class="flex md:order-2">
                {% if user.is_authenticated %}
                <div class="relative">
                    <button
                        class="text-blue-700 bg-transparent border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0">
                        My Profile
                    </button>
                    <div class="absolute hidden text-gray-700 pt-5 group-hover:block bg-white shadow-lg rounded-lg">
                        <a href="" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Profile</a>
                        <a href="{% url 'logout' %}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Logout</a>
                    </div>
                </div>
                {% else %}
                <div class="relative group">
                    <a href="{% url 'login' %}"
                        class="text-white bg-orange-600 hover:bg-orange-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-5 inline-block">
                        Login
                    </a>

                    <div
                        class="absolute hidden group-hover:grid grid-flow-row-dense grid-cols-2 bg-white shadow-lg rounded w-56">
                        <a href="https://propertymaster.co.in/propertymaster-admin/"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Login as
                            Registered User</a>


                        <a href="{% url 'login' %}"
                            class="col-span-2 bg-gray-200 hover:bg-gray-300 py-2 px-4 block whitespace-no-wrap">Login as
                            Customer</a>
                    </div>
                </div>
                <a href="{% url 'signup' %}"
                    class="text-blue-700 bg-transparent border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-3 md:mr-0 inline-block">
                    Sign Up
                </a>
                {% endif %}
                <button data-collapse-toggle="mobile-menu-2" type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                    aria-controls="mobile-menu-2" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    </nav>

    <section class="bg-white-800">
        <div class="container mx-auto p-6">
            <!-- Property Detail Section -->

            <!-- Property Content -->
            <div class="max-w-auto mx-4 border bg-white rounded-lg shadow-md">
                <div class="text-xl font-bold pt-4 ml-4">{{ property.name }}</div>
                <div class="text-orange-600 ml-4 mt-0"><span class="text-gray-600">by</span> {{ property.builder_name }}
                </div>
                <div class="px-4 py-2">
                    <div class="text-xl font-semibold text-orange-600">{{ property.price_range }}</div>
                    <div class="text-sm text-gray-600 mt-2">
                        <span class="text-black-600 text-base">Plot Sizes -</span> {{ property.plot_size }}
                    </div>
                    <div class="text-sm text-gray-600 mt-1">
                        <span class="text-black-600 text-base">Project Status -</span> {{ property.project_status }}
                    </div>
                    <a href="https://www.google.com/maps" class="text-sm text-gray-600 mt-4">
                        <i class="fas fa-map-marker-alt text-gray text-lg"></i> {{ property.location }}
                    </a>
                    <div class="flex justify-between mb-8 items-center mt-4">
                        <div class="text-xs text-gray-500">RERA Registered No: {{ property.rera_registraion }} </div>
                    </div>
                    <div class="max-w-auto mx-12 my-0 bg-white rounded-lg shadow-md relative">
                        <!-- Other content -->
                        <span
                            class="bg-green-500 text-white rounded-t-lg rounded-b-lg py-1 px-3 absolute top-0 right-0 transform translate-y-[-800%] translate-x-[50%]">
                            RERA APPROVED
                        </span>
                        <!-- Rest of the content -->
                    </div>
                </div>
            </div>

            <!-- Header Section with Property Image and Overlay Details -->
            <div class="relative mb-6 my-4 mx-4 md:ml-4 md:mr-64">
                <!-- Carousel System -->
                <div id="property-carousel" class="carousel relative shadow-2xl bg-white">
                    <div class="carousel-inner relative overflow-hidden w-full">
                        <!-- Slide images -->
                        {% for image in images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %} float-left w-full">
                            <img src="{{ image.image.url }}" alt="{{ image.caption }}"
                                class="block w-full h-80 md:h-96 lg:h-128">
                        </div>
                        {% endfor %}
                        <!-- Carousel controls -->
                        <button class="carousel-control prev absolute left-0 text-3xl font-bold">&#10094;</button>
                        <button class="carousel-control next absolute right-0 text-3xl font-bold">&#10095;</button>
                    </div>
                </div>
                <div class="absolute top-0 right-0 m-4">
                    <span id="image-count"
                        class="image-count-trigger bg-gray-800 text-white py-1 px-3 rounded-lg text-sm cursor-pointer">
                        {{ images|length }} Photos
                    </span>
                </div>
            </div>

            <!-- Image Gallery Modal -->
            <div id="image-gallery-modal" class="hidden fixed inset-0 bg-black bg-opacity-75 z-50 overflow-auto">
                <div class="container mx-auto p-6">
                    <!-- Close Button -->
                    <div class="flex justify-end">
                        <button
                            class="close text-white text-2xl bg-red-600 hover:bg-red-700 p-2 rounded-md transition duration-200 ease-in-out">
                            &times;
                        </button>
                    </div>
                    <!-- Gallery Carousel -->
                    <div class="carousel relative shadow-2xl bg-white">
                        <div class="carousel-inner relative overflow-hidden w-full">
                            <!-- Slide images -->
                            {% for image in images %}
                            <div class="carousel-item {% if loop.first %}active{% endif %} float-left w-full"
                                style="display: none;">
                                <img src="{{ image.image.url }}" alt="{{ image.caption }}" class="block w-full">
                            </div>
                            {% endfor %}
                            <!-- Carousel controls -->
                            <button class="carousel-control prev absolute left-0 text-3xl font-bold">&#10094;</button>
                            <button class="carousel-control next absolute right-0 text-3xl font-bold">&#10095;</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation Links -->
            <div
                class="flex justify-between border items-center bg-gray-200 rounded-lg my-4 ml-4 mr-4 md:mr-64 shadow-md">
                <div class="flex flex-wrap">
                    <a href="#amenities-section"
                        class="text-black font-bold py-2 px-4 rounded-l-lg hover:bg-gray-400 transition-colors">Amenities</a>
                    <a href="#loan-section"
                        class="text-black font-bold py-2 px-4 hover:bg-gray-400 transition-colors">Loan</a>
                    <a href="#about-section"
                        class="text-black font-bold py-2 px-4 hover:bg-gray-400 transition-colors">About</a>
                    <a href="#reviews-section"
                        class="text-black font-bold py-2 px-4 hover:bg-gray-400 transition-colors">Customer Reviews</a>
                    <a href="#faq"
                        class="text-black font-bold py-2 px-4 rounded-r-lg hover:bg-gray-400 transition-colors">FAQ</a>
                </div>
            </div>

            <!-- Amenities Section -->
            <div id="amenities-section" class="bg-white shadow-md ml-4 mr-4 md:mr-64 border my-4 rounded-lg p-6">
                <h2 class="text-2xl font-bold mb-4">Amenities at {{ property.name }}</h2>
                <hr>
                <div class="grid grid-cols-2 md:grid-cols-4 py-4 gap-4">
                    {% for amenity in amenities %}
                    <div class="bg-white p-4 shadow rounded-lg flex items-center justify-center">
                        <img src="{{ amenity.icon.url }}" alt="{{ amenity.name }}" class="h-6 w-6" />
                        <span class="ml-2">{{ amenity.name }}</span>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Home Loan Offers Section -->
            <div id="loan-section" class="bg-white shadow-md ml-4 mr-4 md:mr-64 border mb-6 p-6 rounded-lg">
                <h2 class="text-2xl font-bold mb-4">Home Loan Offers for {{ property.name }}</h2>
                <hr>
                <div class="grid grid-cols-1 md:grid-cols-4 py-4 gap-4">
                    {% for offer in loan_offers %}
                    <div class="flex flex-col items-center p-4 shadow rounded-lg">
                        <img src="{{ offer.bank_img.url }}" alt="{{ offer.bank_name }}" class="w-2/4" />
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div id="about-section" class="bg-white shadow-md ml-4 mr-4 md:mr-64 border rounded-lg p-6">
                <!-- About Section Title -->
                <div class="text-2xl font-bold text-gray-800 mb-4">About {{ property.name }}</div>
                <hr>
                <!-- Dynamic Property Description -->
                <p class="text-database text-gray-600 py-4 text-xs">
                    {{ property.description|linebreaks|safe }}
                </p>
            </div>

            <!-- Customer Reviews Section -->
            <div id="reviews-section" class="bg-white shadow-md ml-4 mr-4 md:mr-64 border mb-6 p-6 mt-4 rounded-lg">
                <h2 class="text-2xl font-bold mb-4">Customer Reviews</h2>
                {% for review in property.customer_reviews.all %}
                <div class="border-t border-gray-200 pt-4">
                    <h3 class="font-bold text-gray-800">{{ review.author_name }}</h3>
                    <p class="text-gray-600">{{ review.comment }}</p>
                    <div class="flex items-center mt-2">
                        <span class="text-gray-500 text-sm">{{ review.review_date }}</span>
                        <span class="ml-4 bg-yellow-400 text-yellow-700 py-1 px-2 rounded text-sm">{{ review.rating }} /
                            5 stars</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <style>
        /* Modal container */
        .container {
            max-width: 90%;
            margin: auto;
        }

        /* Carousel styling */
        .carousel {
            max-width: 100%;
            overflow: hidden;
            position: relative;
            background: white;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .carousel-inner {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .carousel-item {
            flex: 0 0 100%;
        }

        .carousel-item img {
            width: 100%;
            height: auto;
        }

        .close {
            cursor: pointer;
            z-index: 1051;
            color: black;
            position: fixed;
            right: 80px;
            top: 25px;
            background-color: white;
        }

        .carousel-item.active {
            display: block;
        }

        .carousel-control {
            top: 50%;
            transform: translateY(-50%);
            padding: 0.5rem 1rem;
            font-size: 2rem;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .carousel-control:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

        #image-gallery-modal {
            z-index: 1050;
            background-color: rgba(0, 0, 0, 0.9);
        }

        @media (max-width: 768px) {
            .carousel-item img {
                height: auto;
            }

            .container {
                padding: 0;
            }

            .flex {
                flex-wrap: wrap;
            }

            .ml-4,
            .mr-4,
            .md:ml-4,
            .md:mr-64 {
                margin-left: 1rem;
                margin-right: 1rem;
            }

            .ml-4,
            .mr-4 {
                margin-left: 1rem;
                margin-right: 1rem;
            }
        }
    </style>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const imageCount = document.getElementById('image-count');
            const modal = document.getElementById('image-gallery-modal');
            const closeButton = modal.querySelector('.close');
            const slides = Array.from(modal.querySelectorAll('.carousel-item'));
            const propertyCarouselSlides = Array.from(document.querySelectorAll('#property-carousel .carousel-item'));
            let currentIndex = 0;
            let autoSlideInterval;

            // Function to show only the active slide
            function updateActiveSlide(slides) {
                slides.forEach((slide, index) => {
                    slide.style.display = index === currentIndex ? 'block' : 'none';
                });
            }

            // Function to start the carousel auto sliding
            function startAutoSlide(slides) {
                autoSlideInterval = setInterval(() => {
                    currentIndex = (currentIndex + 1) % slides.length;
                    updateActiveSlide(slides);
                }, 3000); // Change image every 3 seconds
            }

            // Function to stop the carousel auto sliding
            function stopAutoSlide() {
                clearInterval(autoSlideInterval);
            }

            // Initialize property carousel
            startAutoSlide(propertyCarouselSlides);

            imageCount.addEventListener('click', function () {
                modal.classList.toggle('hidden');
                updateActiveSlide(slides);
                startAutoSlide(slides);
            });

            closeButton.addEventListener('click', function () {
                modal.classList.add('hidden');
                stopAutoSlide();
            });

            document.querySelector('#property-carousel .prev').addEventListener('click', function () {
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : propertyCarouselSlides.length - 1;
                updateActiveSlide(propertyCarouselSlides);
            });

            document.querySelector('#property-carousel .next').addEventListener('click', function () {
                currentIndex = (currentIndex + 1) % propertyCarouselSlides.length;
                updateActiveSlide(propertyCarouselSlides);
            });

            document.querySelector('#image-gallery-modal .prev').addEventListener('click', function () {
                currentIndex = (currentIndex > 0) ? currentIndex - 1 : slides.length - 1;
                updateActiveSlide(slides);
            });

            document.querySelector('#image-gallery-modal .next').addEventListener('click', function () {
                currentIndex = (currentIndex + 1) % slides.length;
                updateActiveSlide(slides);
            });
        });
    </script>





    <!-- Footer -->
    <footer class="bg-gray-800 text-white">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
            <div class="xl:grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-8">
                <!-- Contact Info -->
                <div class="mb-6 md:mb-0">
                    <h3 class="font-bold mb-2">Contact Us</h3>
                    <p>222 Singapoore Gold City 1Bypass Road oppo Vistara Township, near Infocity<br>Indore, Madhya
                        Pradehs, 452016</p>
                    <p class="my-2">Email: contact@propertymaster.co.in</p>
                    <p>Phone: +91 8819888835</p>
                </div>

                <!-- Quick Links -->
                <div class="mb-6 md:mb-0">
                    <h3 class="font-bold mb-2">Quick Links</h3>
                    <ul>
                        <li><a href="{% url 'about-us' %}" class="hover:text-orange-500">About Us</a></li>
                        <li><a href="" class="hover:text-orange-500">Services</a></li>
                        <li><a href="" class="hover:text-orange-500">FAQ</a></li>
                        <li><a href="" class="hover:text-orange-500">Contact</a></li>
                    </ul>
                </div>

                <!-- Social Media -->
                <div class="mb-6 md:mb-0">
                    <h3 class="font-bold mb-2">Follow Us</h3>
                    <div class="flex mt-4">
                        <a href="https://www.facebook.com/PropertyMasterIndore/" class="mr-2"><img
                                src="{% static 'images/facebook.svg' %}" alt="Facebook"
                                class="w-5 h-5 hover:opacity-80"></a>
                        <a href="#" class="mr-2"><img src="{% static 'images/twitter.svg' %}" alt="Twitter"
                                class="w-5 h-5 hover:opacity-80"></a>
                        <a href="#" class="mr-2"><img src="{% static 'images/instagram.svg' %}" alt="Instagram"
                                class="w-5 h-5 hover:opacity-80"></a>
                        <a href="https://www.linkedin.com/company/property-master-official/" class="mr-2"><img
                                src="{% static 'images/linkedin.svg' %}" alt="LinkedIn"
                                class="w-5 h-5 hover:opacity-80"></a>
                    </div>
                </div>

                <!-- Newsletter -->
                <div class="mb-6 md:mb-0">
                    <h3 class="font-bold mb-2">Newsletter</h3>
                    <p>Sign up to receive updates and offers:</p>
                    <form action="#" method="POST">
                        <div class="mt-4 flex">
                            <input type="email" class="rounded-l px-4 py-2 w-full" placeholder="Enter your email">
                            <button
                                class="bg-orange-500 hover:bg-orange-700 text-white px-4 rounded-r">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Copyright -->
            <div class="text-center text-gray-500 mt-8">
                <p>&copy; 2024 Property Master. All rights reserved.</p>
            </div>
        </div>
    </footer>







    <!-- ... rest of the HTML ... -->

    <!-- SwiperJS Script for Partners Carousel -->

    <!-- ... existing HTML ... -->

    <!-- WhatsApp Button -->
    <div class="fixed bottom-4 right-4 z-20">
        <a href="https://wa.me/+919644888815" target="_blank" class="block">
            <img src="{% static 'images/whatsapp.png' %}" alt="WhatsApp" class="w-12 h-12">
        </a>
    </div>







</body>

</html>